.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100dvh;
  display: grid;
  place-items: center;
  text-align: center;
}

.loader {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #fff;
  fill: cornflowerblue;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
