.wrapper {
  height: calc(100dvh - 180px);
  display: grid;
  place-items: center;
  text-align: center;
}

.loader {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #FFF;
  fill: cornflowerblue;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}