.wrapper {
  display: flex;
  flex: 1 1 auto;
  pointer-events: auto;
  color: var(--font-color);
  background-color: var(--bg-color);
}

.main {
  flex: 1 1 auto;
}

.outlet {
  border-left: 1px solid rgb(226, 232, 240);
  background-color: #f7f7f7;
}

.blur {
  filter: blur(3px) grayscale(20%);
  pointer-events: none;
}
