.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    align-items: stretch;
    justify-content: center;
    margin-top: 24px;
    gap: 30px;
}

.highlightedItem {
    border-radius: 10px;
    border: 2px solid blue;
}