@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

html,
body {
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
  color: #323232;
  background-color: #fff;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.error {
  height: 100dvh;
  background-image: url('../../public/img/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
