.strengthMeter {
    height: 10px;
    width: 100%;
    background-color: #e0e0e0;
    margin-top: 8px;
    border-radius: 5px;
    overflow: hidden;
}
.strengthBar {
    height: 100%;
}

.strength-1 {
    background-color: #ff4d4d;
}

.strength-2 {
    background-color: #ff9800;
}

.strength-3 {
    background-color: #ffd607;
}

.strength-4 {
    background-color: #41b046;
}