.flyout {
  position: fixed;
  bottom: -600px;
  left: 35px;
  background-color: var(--card-color);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  transition: bottom 0.4s ease-in-out;
}

.flyout.visible {
  bottom: 40px;
}

.info {
  font-weight: 500;
  margin-bottom: 12px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  color: #fff;
}
