.search {
    position: relative;
    border-radius: 8px;
}

.input {
    width: 350px;
    padding: 14px 90px 14px 14px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input::placeholder {
    color: #C5C3C3;
}

.btn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 45px;
    background: #6495EDFF;
    border-radius: 0 8px 8px 0;
}

.loupe,
.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.loupe {
    right: 15px;
    fill: #FFF;
}

.clear {
    right: 60px;
    transition: fill 0.2s ease-in-out;
}