.container {
  margin: 0;
  padding: 12px 40px;
  position: fixed;
  top: 16%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}

.name {
  max-width: 280px;
}

.img {
  width: 100%;
}

.info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.closeBtn {
  font-size: 28px;
  margin-bottom: 5px;
}
