.btn {
  position: absolute;
  height: 45px;
  width: 45px;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}
.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.light {
  background-color: orange;
  box-shadow:
    0 0 25px 5px yellow,
    0 0 15px 10px yellow inset;
}

.light:hover {
  transition: box-shadow 0.3s ease-in-out;
}

.light:hover {
  box-shadow:
    0 0 45px 10px yellow,
    0 0 15px 10px yellow inset;
}

.dark {
  background-color: #ccc;
  box-shadow:
    0 0 15px 5px #999 inset,
    0 0 15px 5px #1a222cff inset,
    0 0 35px 5px rgba(255, 255, 255, 0.4);
}

.dark:hover {
  transition: box-shadow 0.3s ease-in-out;
}

.dark:hover {
  box-shadow:
    0 0 15px 5px #999 inset,
    0 0 15px 5px #1a222cff inset,
    0 0 35px 10px rgba(255, 255, 255, 0.4);
}
